body {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  background-color: lemonchiffon;
  background-image: url("https://images.alphacoders.com/574/thumb-1920-57491.jpg");
}
 
h1 {
  font-family: "Brush Script MT";
}
canvas {
  border: 5px solid royalblue;
  margin: 20px;
  
}
progress {
  height:15px;
  width:600px;
  border: 4px solid cadetBlue;
  radius:6px;
  background-color: blue ;
  color:royalblue;
}
#scoreKeeper{
  font-family: Sans;
}
#canvas {
  background-color:rgba(220,220,220, 0.5); 
}
