body {
  text-align:center;    
}
 
h1 {
  font-family: "Brush Script MT";
}
canvas {
  border: 5px solid cadetblue;
  /*margin: auto;*/
  
}
progress {
  height:15px;
  width:600px;
  border: 4px solid cadetBlue;
  background-color: blue ;
  color:royalblue;
}
scoreKeeper{
  font-family: Sans;
}
